@charset "UTF-8";
/****************cosas de sass*********************/
body {
  background-color: beige; }

.container1 {
  display: flex;
  background-image: url(../img/fononav.png);
  align-items: center;
  justify-content: space-around;
  padding: 100px; }
  .container1 h1 {
    color: plum;
    font-family: 'Indie Flower', cursive;
    font-size: 3rem;
    margin-right: 50px; }
  .container1 a, .container1 ul, .container1 nav {
    text-decoration: none;
    font-family: 'Caveat', cursive;
    padding-right: 30px;
    font-size: 1.5rem;
    color: rgba(212, 157, 226, 0.952);
    display: flex;
    list-style-type: none;
    justify-content: space-around; }
  .container1 a:hover {
    color: violet; }

.imageMenu .imageMenu_comidas {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .imageMenu .imageMenu_comidas a {
    text-decoration: none; }
  .imageMenu .imageMenu_comidas p {
    font-size: 4rem;
    margin-left: 300px; }

.imageMenu .imageMenu_pizzas {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center; }
  .imageMenu .imageMenu_pizzas a {
    text-decoration: none; }
  .imageMenu .imageMenu_pizzas p {
    font-size: 4rem;
    margin-left: 300px; }

.imageMenu .imageMenu_minutas {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .imageMenu .imageMenu_minutas a {
    text-decoration: none; }
  .imageMenu .imageMenu_minutas p {
    font-size: 4rem;
    margin-left: 300px; }

.imageMenu .imageMenu_postres {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center; }
  .imageMenu .imageMenu_postres a {
    text-decoration: none; }
  .imageMenu .imageMenu_postres p {
    font-size: 4rem;
    margin-left: 300px; }

.imageMenu .imageMenu_bebidas {
  background-color: brown;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .imageMenu .imageMenu_bebidas a {
    text-decoration: none; }
  .imageMenu .imageMenu_bebidas p {
    font-size: 4rem;
    margin-left: 300px; }

.imageMenu .imageMenu_especiales {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center; }
  .imageMenu .imageMenu_especiales a {
    text-decoration: none; }
  .imageMenu .imageMenu_especiales p {
    font-size: 4rem;
    margin-left: 300px; }

.imageMenu .imgmenu2 {
  width: 700px;
  height: 500px;
  transition: none; }
  .imageMenu .imgmenu2:hover {
    transform: none; }

main h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/fononav.png);
  font-size: 2rem;
  font-family: 'Comfortaa', cursive;
  color: plum;
  margin-top: 30px; }

main h3 {
  color: plum;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 30px; }

main h6 {
  margin-left: 30px;
  font-size: large;
  color: plum; }

main p {
  display: flex;
  margin-left: 100px;
  margin-right: 50px;
  font-family: 'Indie Flower', cursive;
  font-size: 3rem;
  color: plum;
  padding: 15px;
  text-align: center; }

main #carouselExampleInterval {
  margin-left: -50px;
  animation: none;
  transition: none; }
  main #carouselExampleInterval .img2 {
    height: 700px; }

main .boton {
  background-color: pink;
  transition-duration: 0.4s;
  border: none;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-left: 30px; }
  main .boton:hover {
    background-color: coral;
    color: white; }

main img {
  width: 350px;
  height: 200px;
  padding-left: 30px;
  transition: 1s ease; }
  main img:hover {
    transform: scale(1.1); }

main .redes, main .links {
  margin-left: 40px;
  justify-content: center;
  display: flex; }

main .iconoface {
  width: 60px;
  height: 40px;
  padding-top: 10px; }

footer {
  background-color: black;
  padding: 20px;
  margin-top: 3px;
  display: flex;
  justify-content: space-around; }
  footer h2 {
    color: white; }
  footer form {
    color: white; }
    footer form button {
      border: none; }
  footer ol {
    padding-top: 20px;
    text-align: center;
    justify-content: space-around;
    list-style-type: none; }
    footer ol a {
      text-decoration: none;
      color: white;
      font-size: 1rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/******************Disposición menus*******************/
main .menu2 {
  overflow-x: hidden; }

main .carousel-item {
  height: 600px;
  width: 100%; }

main .comidas1 {
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  grid-area: uno;
  grid-template-areas: "uno uno uno uno"; }

main .salp {
  display: grid;
  margin-left: 50px;
  margin-right: 50px;
  grid-area: dos;
  grid-template-areas: "dos dos dos dos"; }

main .pyH {
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  grid-area: tres;
  grid-template-areas: "tres tres tres tres"; }

main .milas {
  display: grid;
  margin-left: 100px;
  margin-right: 60px;
  grid-area: cuatro;
  grid-template-areas: "cuatro cuatro cuatro cuatro"; }

main .helados {
  display: grid;
  margin-left: 100px;
  margin-right: 100px;
  grid-area: cinco;
  grid-template-areas: "cinco cinco cinco cinco"; }

main .bebidascysin {
  display: grid;
  grid-area: seis;
  margin-left: 100px;
  margin-right: 100px;
  grid-template-areas: "seis seis seis seis"; }

main .promos {
  display: grid;
  margin-left: 250px;
  margin-right: 100px;
  grid-template-areas: "siete ocho nueve"; }
  main .promos .caja1 {
    grid-area: siete; }
  main .promos .caja2 {
    grid-area: ocho; }
  main .promos .caja3 {
    grid-area: nueve; }

/**************************************MEDIAQUERIES**********************************************/
@media only screen and (max-width: 480px) {
  .container1 {
    flex-direction: column;
    text-align: center;
    padding: 10%; }
    .container1 nav, .container1 ul, .container1 li {
      display: none;
      visibility: hidden; }
  .imageMenu {
    flex-direction: column;
    align-items: center; }
    .imageMenu .imageMenu_comidas, .imageMenu .imageMenu_minutas, .imageMenu .imageMenu_bebidas a {
      margin-left: -190px; }
    .imageMenu .imageMenu_postres, .imageMenu .imageMenu_especiales, .imageMenu .imageMenu_pizzas a {
      margin-left: -200px; }
  .imgmenu2 {
    display: none; }
  h1 {
    font-size: 1rem;
    padding-left: 40px; }
  .text {
    margin-top: -400px;
    display: flex;
    font-size: medium;
    margin-right: 80px; }
  h2 {
    font-size: 30px;
    text-align: center; }
  h3 {
    text-align: center; }
  h6 {
    text-align: center; }
  main {
    grid-template-columns: auto; }
    main .comidas1 {
      grid-template-areas: "uno";
      margin-left: 50px; }
    main .salp {
      grid-template-areas: "dos";
      margin-left: 25px; }
    main .pyH {
      grid-template-areas: "tres";
      margin-left: 45px; }
    main .milas {
      grid-template-areas: "cuatro";
      margin-left: 45px; }
    main .helados {
      grid-template-areas: "cinco";
      margin-left: 45px; }
    main .bebidascysin {
      grid-template-areas: "seis";
      margin-left: 45px; }
    main .promos {
      grid-template-areas: "siete" "ocho" "nueve";
      margin-left: 45px; }
    main .boton {
      margin-left: 150px; }
    main .redes {
      margin-right: 85px; }
  footer, ol {
    flex-direction: column;
    text-align: center; }
    footer iframe, ol iframe {
      width: 100%; } }
