body{
    background-image: url(./img/olas_1920x3404_xtrafondos.com.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
        }
.container1{
    display: flex;
    background-image: url("img/Diseño\ sin\ título\ \(1\).png");    
    align-items: center;
    justify-content: space-around;

}  
a, ul, nav{ 
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-right: 30px;
    font-size: x-large;
    color: rgba(212, 157, 226, 0.952);    
    display: flex;
    list-style-type: none;       
    
}
a:hover{
    color: violet;
}
h1{
    color:plum;
    padding-right: 100px;
    font-family: 'Lobster', cursive;
    font-size: 70px;
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-image: url("img/Diseño\ sin\ título\ \(1\).png");
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgba(212, 157, 226, 0.952);   
    margin-top: 30px;
}
h3{
    color: plum;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    
    
}
h6{
    margin-left: 30px;
    font-size: larger;
    color: plum;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
p{
    display: flex;
    margin-left:100px;   
    margin-right: 50px;
    font-size: 24px;
    font-family: 'Lobster', cursive;   
    color: rgba(212, 157, 226, 0.952);
    padding: 15px;
    font-size: 30px;
    
}
.boton{
    margin-left: 30px;    
    background-color:pink;
    transition-duration: 0.4s;
    border: none;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.boton:hover{
    background-color: coral;
    color: white;
}


/*Dispocision de los diferentes menus*/

/* Grids */  
   
.comidas1{
    display: grid;
    justify-content:space-around;
    grid-template-areas: "comidas comidas comidas comidas";
 }
 .comidas1{
     grid-area: comidas;
 }
                

.pyH{
   display: grid;
   justify-content: center;
   grid-template-areas: "pizza pizza pizza pizza";

}
.pyh{
    grid-area: pizza;
}

.milas{      
    display: grid; 
    justify-content: center; 
    grid-template-areas: "milanesas milanesas milanesas milanesas milanesas"; 
}
.Milanesa{
    grid-area: milanesa;
}
.promos{
    display: grid;
    justify-content: center;
    grid-template-areas: "area4 area5 area6" ;
}
.huevos{
   grid-area: area4;
}
.egs{
    grid-area: area5;    
}
.eggs{
    grid-area: area6;
}

.salp{
    display: grid;
    justify-content: center;
    grid-template-areas: 
    "area3 area3 area3 area3 area3";
}

.salp{
    grid-area: area3;   
}


.helados{
       display: grid;
       justify-content: center;
      grid-template-areas: "icec icec icec icec icec";      
       
}
.helados{
    grid-area: icec;
}

.bebidascysin{
       display: grid;
       justify-content: center;
       grid-template-areas: "drinks drinks drinks drinks"
}
.bebidascysin{
    grid-area: drinks;
}
.imagenPromos{
       display: flex;   
       justify-content: space-around;
}



.redes, .links{      
     margin-left: 40px;
     justify-content: center;
     display: flex;
     }

footer{
    background-color: black;   
    margin-top: 1px;
    color: chocolate;
    text-decoration: none;    
    }
ol{
    text-align: center;
    justify-content: space-around;
    list-style-type: none;
    display: flex;
}

.iconoface{
    width: 45px;
    padding-top: 10px;
}


.precio{   
    color: rgba(212, 157, 226, 0.952);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
    
}
img{ 
    width: 350px;
    padding-left: 30px;
}


.iconoface{
    transition: width 2s, height 2s;
      
}
.iconoface:hover{
     
    width: 60px;
}




/************************Mediaqueries 480px**********************/

@media all and (max-width: 600px){

    .container1{
        flex-direction: column;        
    }
    a, ul, nav{
        flex-direction: column;
        text-align: center;
        font-size: medium;
        padding-left: 20px;
    }
    h1{
        font-size: 40px;
        flex-direction: column;
        padding-left: 100px;
        
    }
    p{
        font-size: 1rem;
    }
    h2{
        font-size: 30px;
    }
    .comidas1{
        justify-content: space-around;
        grid-template-areas:"comidas"
                            "comidas";
    } 
    .salp{
        justify-content: space-around;
       grid-template-areas: "area3";
    } 
    .pyH{
        justify-content: space-around;
        grid-template-areas: "pizza";         
    } 
    .milas{
        justify-content: space-around;
        grid-template-areas: "milanesa";
    }
        
    h3{
        text-align: center;
    }
    h6{
        text-align: center;
    } 
    footer{
        flex-direction: column;
        text-align: center;
    }
}






/************************Mediaqueries 768px**********************/


@media (max-width: 768px){

    .milas{
        grid-template-areas:"milanesa milanesa";
    }

    .comidas1{
        grid-template-areas:"comidas comidas";
    }
    .salp{
        grid-template-areas:"area3 area3";
    }

    .pyH{
        grid-template-areas:"pizza pizza";
    }
    .helados{
        grid-template-areas:"icec icec";
    }
    .bebidascysin{
        grid-template-areas:"drinks drinks";
    }
    .promos{
        grid-template-areas:"area4 area4"
                            "area5 area5"
                            "area6 area6";
    }
    
    a, ul, nav{
        display: block;
    }
}
